#item {
    background-color: white;
    border-color: black;
    width: 0.5cm;
  }
#whatUserHas {
    
}
#opts {
    overflow: auto;
    height: 10cm;
    border: solid;
    border-color: burlywood;
    border-top: none;
    border-bottom: none;
}
#foodAltIMG {
    width: 100%;
}
#foodWrap {
    color: aqua;
}
#atHome {
    width: 100%;
    border: solid;
    border-color: burlywood;
}

#createBTN {
    width: 100%;
    border: solid;
    border-color: #deb887;
    border-top: none;
    color: black;
}
#navB {
    background-color: #deb887;
}
#filter {
    border: solid;
    border-color: #deb887;
}
#icon {
    height: 3cm;
}
#qs {
    padding-top: ;
}
#bnr {
    width: 100%;
}