#item {
    background-color: white;
    border-color: black;
    padding-right: 90%;
  }
#whatUserHas {
    
}
#opts {
    overflow: auto;
    height: 10cm;
    font-size: x-large;    
    padding-left: 0.5cm;
}
#foodAltIMG {
    width: 100%;
}
#foodWrap {
    color: aqua;
}
#options {
    padding-top: 0.5cm;
}
#atHome {
    width: 100%;
    border: none;       
    border-bottom: solid;
    border-bottom-color: #fff;
    font-size: x-large;
}
#atHome:active {
    border-bottom: solid;
    border-bottom-color: #2185ff;
}
#atHome:hover {
    border-bottom: solid;
    border-bottom-color: #2185ff;
}
#createBTN {
    width: 100%;
    border: none;
    font-size: x-large;
    background-color: #2185ff;
}
#createBTN:hover {
    text-decoration: underline;
    background-color: #559ef6;
}
#createBTN:active {
    text-decoration: underline;
    background-color: #559ef6;
}
#filter {
    border: solid;
    border-color: #deb887;
}
#icon {
    height: 3cm;
}
#qs {
    
}
#bnr {
    width: 100%;
}
#itemCB {
width: 10cm;
}
