@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');
body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#al {
  cursor: url("./favicon.png"), auto;	

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

